<?xml version="1.0" ?>

<robot name="Falcon">

  <material name="white">
    <color rgba="1. 1. 1. 1.0"/>
  </material>

  <material name="black">
    <color rgba="0. 0. 0. 1.0"/>
  </material>

  <material name="blue0">
    <color rgba="15./255. 141./255. 238./255. 1.0"/>
  </material>

  <material name="darkgrey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>

  <material name="blue1">
    <color rgba="0.06 0.46 0.9 0.6"/>
  </material>

  <material name="orange_red">
    <color rgba="1 0.25 0 0.4"/>
  </material>

  <configuration type="winged_vtol_physics"/>


  <properties arm="0.0" kf="0" km="0" thrust2weight="0" max_speed_kmh="0" gnd_eff_coeff="0" prop_radius="3.31348e-2" drag_coeff_xy="0" drag_coeff_z="0" dw_coeff_1="0" dw_coeff_2="0" dw_coeff_3="0"/>

  <control>
    <indi actuator_nr="4" output_nr="4" />
    <indi_1 roll="   0. 0. 0. 0." />
    <indi_2 pitch="  .5  -.5 .5 -.5" />
    <indi_3 yaw="    0. 0. 0. 0." />
    <indi_4 thrust=" 25. 25. 25. 25." />

    <indi_guidance_gains>
      <pos kp="1.8" kd="1.8"/>
    </indi_guidance_gains>

    <indi_att_gains>
      <att  p="3." q="3." r="5." />
      <rate p="18." q="18." r="10." />
    </indi_att_gains>

    <pwm>
      <pwm2rpm scale="0. 0. 0. 0." const="0. 0. 0. 0." />
      <limit min="0.  0.  0.  0" max="1.  1.  1.  1." />
    </pwm>
  </control>

    <aero_coeffs>
    <ref rho="1.225" alpha0="0.47" Sref="0.075" Bref="0.7" Cref="0.1" Vref="18." oswald="0.7" AR="6" M="60" epsilon="0.16" actuator_nr="4"/>
    <CL  CL = "0.5" CL0="0.15"   CL_alpha="5.61" CL_q="7.95"   CL_del_e="0.13"/>
    <CD  CD = "0.2" CD0="0.043"  CD_alpha="0.03"  CD_q="0.0" CD_p="0.0" CD_del_e="0.0135"/>
    <CY  CY0="0.0"   CY_beta="-0.83"  CY_p="0.0" CY_r="0.0"  CY_del_r="0.19" CY_del_a="0.075"/>
    <Cl  Cl_beta="0.13"  Cl_p="-0.51" Cl_r="0.045" Cl_del_a="0.17" Cl_del_r="0.0024"/>
    <Cm  Cm0="0.0035" Cm_alpha=" -2.74" Cm_q="-38.21" Cm_del_e="-0.99"/>
    <Cn  Cn_beta="0.073"  Cn_p="-0.069" Cn_r="-0.095" Cn_del_a="-0.011" Cn_del_r="-0.069"/>
  </aero_coeffs>

  <motor_coeffs>
    <Thrust angle_deg = "5" x_pos = "0" y_pos = "0." z_pos = "0.1"/>
    <Coeffs C_Q0 = "0." C_Q1 = "0." C_Q2 = "0." KQ = "0." R_motor = "0." i0 = "0." KV = "0.0" C_T0 = "-0.1" C_T1 = "-0.0" C_T2 = "0.0" V_max="0." />
    <Prop D_prop = "0.508"/>
  </motor_coeffs>


  <link name="base_link"> 
    <inertial>
      <origin rpy="0 0 0" xyz="0.045 0 0.0"/>
      <mass value="0.420"/>
      <inertia ixx="0.8244" iyy="1.135" izz="1.759"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./Falcon.obj" scale="1. 1. 1."/>
      </geometry> 
      <material name="darkgrey"/>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.15" length=".1"/>
        <mesh filename="./Falcon.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>  
  </link>

  <link name="center_of_mass_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.045 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="center_of_mass_joint" type="fixed">
    <parent link="base_link"/>
    <child link="center_of_mass_link"/>
  </joint>

  <link name="UR_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.018 0.0707 0.0707"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 1.5708 0" xyz="0.018 0.0707 0.0707"/>
      <geometry>
        <cylinder radius="0.07" length=".001"/>
      </geometry>
      <material name="orange_red"/>
    </visual>
  </link>
  <joint name="UR_joint" type="fixed">
    <parent link="base_link"/>
    <child link="UR_link"/>
  </joint>

  <link name="LR_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.018 0.0707 -0.0707"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 1.5708 0" xyz="0.018 0.0707 -0.0707"/>
      <geometry>
        <cylinder radius="0.07" length=".001"/>
      </geometry>
      <material name="orange_red"/>
    </visual>
  </link>
  <joint name="LR_joint" type="fixed">
    <parent link="base_link"/>
    <child link="LR_link"/>
  </joint>

  <link name="UL_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.018 -0.0707 0.0707"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 1.5708 0" xyz="0.018 -0.0707 0.0707"/>
      <geometry>
        <cylinder radius="0.07" length=".001"/>
      </geometry>
      <material name="orange_red"/>
    </visual>
  </link>
  <joint name="UL_joint" type="fixed">
    <parent link="base_link"/>
    <child link="UL_link"/>
  </joint>

  <link name="LL_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.018 -0.0707 -0.0707"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 1.5708 0" xyz="0.018 -0.0707 -0.0707"/>
      <geometry>
        <cylinder radius="0.07" length=".001"/>
      </geometry>
      <material name="orange_red"/>
    </visual>
  </link>
  <joint name="prop4_joint" type="fixed">
    <parent link="base_link"/>
    <child link="LL_link"/>
  </joint>


</robot>

